.pop-up{
    z-index: 9999;
    position: fixed;
    width: 20%;
    background-color: #FF8FB1;
    border-radius: 10px 10px 3px 3px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transform: scale(0);
    transition: 0.5s ease;
    transition-property: transform;
}
