/* Basic styling added */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
a {
    text-decoration: none;
}
 
header h1{
    color: #8B0000; /* Maroon color */
    font-size: 1.5rem;
    font-family: sans-serif;
    font-weight: 800;
    margin: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
}
input {
    border: 2px solid #8B0000;
    border-radius: 3px;
    height: 35px;
    font-family: 'Courier';
    font-weight: 900;
    background-color: whitesmoke;
    padding-left: 10px;
    font-family: 'Courier';
}
/* #appname {
    font-size: 25px;
    font-family: sans-serif;
    text-align: center;
    margin: 30px;
    margin-bottom: 20px;
} */
#catalogue {
    background-color: #8B0000;
    border-radius: 4px;
    text-align: center;
    color: white;
    padding: 10px;
    font-size: 15.5px;
    font-weight: 550;
    margin: auto 5%;
}

.teamdetail {
    margin-top: 30px;
}

.teamdetail h2 {
    text-align: center;
    font-family: sans-serif;
}

.teamName {
    font-size: 17px;
    font-weight: 900;
    margin: 2em auto;
}

.team1Name,.team2Name {
    display: grid;
    grid-template-columns: 25% 60%;
    margin-bottom: 4%;
    justify-content: center;
    align-items: center;
}

.numofplayers,
.numofovers {
    font-size: 15px;
    display: grid;
    grid-template-columns: 40% 30%;
    margin-bottom: 2%;
    justify-content: flex-start;
    align-items: center;
    padding-left: 7.5%;
}

.gotots {
    cursor: pointer;
    padding: 8px;
    font-size: 14px;
    background-color: whitesmoke;
    color: #8B0000;
    border-radius: 8px;
    border: none;
    box-shadow: 2px 1px 7px 1px;
    width: fit-content;
    margin: auto 20%;
    transition: background-color .3s;
}

.gotots:hover {
    background-color: #781a12;
    color: beige;
    opacity: 1;

}
.gotots:active {
    opacity: 0.7;
}
input:focus {
    border: 2.4px solid orange;
    border-radius: 7px;
    outline: none;
}

/* styles add for popup container for getting players name */
.popteam {
    position: absolute;
    top: 135px;
    left: 5%;
    justify-content: center;
    align-items: center;
    width: 90%;
    min-height: 95%;
    height: fit-content;
    padding: 10px;
    background: whitesmoke;
    border-radius: 8px;
    box-shadow: 1px 2px 2px 3px rgba(0, 0, 0, 0.42);
    display: none;
}
.popteam .close {
    position: absolute;
    top: 3px;
    right: 5px;
    width: 15px;
    height: 17px;
    text-align: center;
    background-color: rgb(223, 46, 15);
    color: honeydew;
    border-radius: 3px;
    cursor: pointer;
}
.popteam.active {
    display: block;
}

#team1Input,#team2Input {
    padding: 5%;
    margin-bottom: 25px;
}
#team1Input input,#team2Input input {
    display: grid;
    grid-template-columns: 100%;
    width: 100%;
    margin-bottom: 10px;
    background-color: whitesmoke;
}


/* media query for input field and button at center for all the screen size */
@media(max-width:399px) {
    .gotots {
        margin: auto 29%;
    }
    #collectBtn,#goToss{
        margin:auto 39%;
    }
}
@media (min-width:400px) {
    .gotots {
        margin: auto 30%;
    }
    #collectBtn{
        margin:auto 39%;
    }
}
@media(min-width:446px) {

    .numofplayers,
    .numofovers {
        font-size: 14px;
        padding-left: 7.5%;
    }
    .gotots {
        margin: auto 32%;
    }
}
@media (min-width:585px) {
    .gotots {
        margin: auto 35%;
    }
}
@media(min-width:620px) {
    .playerName {
        display: grid;
        padding: 5%;
        grid-template-columns: 50% 50%;
        column-gap: 20px;
    }
    #collectBtn{
        margin:auto 42%;
    }
    
}
@media(min-width:720px) {
    .team1Name,.team2Name {
        display: grid;
        grid-template-columns: 10% 45%;
    }
    .numofplayers,.numofovers {
        font-size: 16px;
        display: grid;
        grid-template-columns: 20% 30%;
        padding-left: 22%;
    }
    .gotots {
        margin: auto 38%;
    }
}
@media(min-width:900px) {
    .gotots {
        margin: auto 42%;   
    }
}