/* style for whole page */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* style for body */
body{
    max-width: 1000px;
    margin: 0 auto;
    background-color: #8B0000;
}
/* style for header */
.header{
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 1fr;
    justify-content: center;
    text-align: center;
    color: #fff;
}
/* style for team container */
.team-container{
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 1fr;
    margin: 5% auto;
    gap: 2rem;
}
/* style for team name*/
.teamname{
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    gap: 0.7rem;
    color: #fff;

}
 /* style for team div */ 
.teamname div{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
    
}
/* style for team-card */ 
.team-card{
    border: 5px solid white;
    display: grid;
    grid-template-rows: 0.3fr 1fr;
    font-size: large;
   
/* style for both container */
}
.container-1 , .container-2{
    padding: .25rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 10px;

}
/* style for top3run heading */
.top3run h3{
    text-align: center;
    background-color: #8B0000;
    color: #fff;
}
/* style for top-1 class */
.top-1{
    display: grid;
    grid-template-columns: 2fr 0.5fr;
    align-items: center;
    justify-content: start;
    background-color: rgba(188, 145, 145, 0.915);
    padding: 0.5rem;
    
}
/*style for both ids  */
#team1TopScorer2, #team1TopWicket2{
    background-color:  rgba(188, 145, 145, 0.715);
}
/* style for class top-2 class */
.top-2{
    display: grid;
    grid-template-columns: 1.5fr 0.5fr 0.5fr;
    align-items: center;
    justify-content: start;
    background-color: rgba(188, 145, 145, 0.915);
    padding: 0.5rem;
}
/* style for buttons class */
.buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 5rem;
    
}
/* style for button */
button{
    font-size: 20px;
    border: 1px solid #3B82F6;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: #3b83f680;
    font-weight: 600;
}
/* style for mobile display between 200px and 500px  */
@media (min-width:200px) and (max-width:500px){
    /* style for buttons class */
    .buttons{
        display: flex;
        flex-direction: row;
        margin-top: 3rem;
        

    }
    /* style for button */
    button{
        font-size: 10px;
        border: 1px solid #3B82F6;
        padding: 3px 5px;
        border-radius: 5px;
        background-color: #3b83f680;
        font-weight: 300;
    }
    /* style for team-card */
    .team-card{
        font-size: 13px;
        font-weight: normal;
    }
}
